<footer class="footer">

  <p>Juniper Networks, the Juniper Networks logo, Juniper, and Junos are registered trademarks of Juniper
  Networks, Inc. in the United States and other countries. All other trademarks, service marks, registered
  marks, or registered service marks are the property of their r;sr;cঞv; owners. Juniper Networks assumes
  no responsibility for any inaccuracies in this document. Juniper Networks reserves the right to change,
  modify, transfer, or otherwise revise this publication without notice.  
  
  Copyright © 2022 Juniper Networks, Inc. All rights reserved.</p>

</footer>
