<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}"><img src="{{{siteRootPath}}}/apstra_logo.svg" alt="Apstra Logo" width="110" height="110">&nbsp;&nbsp;Apstra Lab Documentation</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

        <a class="navbar-item" href="{{{site.url}}}">Home</a>

        <a class="navbar-item " href="https://cloudlabs.apstra.com/">Cloud Labs Home</a>

        <div class="navbar-item has-dropdown is-hoverable ">
          <a class="navbar-link" href="#">Apstra Resources</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://www.juniper.net/gb/en/products/network-automation/apstra.html">Juniper Apstra Homepage</a>
            <a class="navbar-item" href="https://www.juniper.net/documentation/product/us/en/apstra/">Apstra Offical Documentation</a>
            <a class="navbar-item" href="https://www.juniper.net/documentation/en_US/day-one-books/DO_Apstra.pdf">Apstra Day One Book</a>
          </div>
        </div>
        
        <a class="navbar-item" href="https://docs.google.com/forms/d/e/1FAIpQLSd1ms1bT7uMprohZJprS8Oi9OY3jhMV6iV-fQT1l0iVVBceMw/viewform">Feedback</a>

        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Service A</a>
            <a class="navbar-item" href="#">Service B</a>
            <a class="navbar-item" href="#">Service C</a>
          </div>
        </div> --}}


        {{!-- <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div> --}}
      </div>
    </div>
  </nav>
</header>

